@import url(https://fonts.googleapis.com/css?family=Roboto);

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, mark {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, sans-serif;
    background-color: unset;
}

@media screen and (orientation: landscape) {

    body {
        background-color: black;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    nav > div > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        font-weight: 650;
        font-size: 1.2rem;
    }

    div#navbar-right > ul > li {
        all: unset;
        margin-right: 20px;
        text-decoration: none;
        padding: 5px
    }

    div#navbar-left > ul > li {
        all: unset;
        margin-left: 20px;
        text-decoration: none;
        padding: 5px
    }

    #navbar-right > ul > li:last-child a {
        padding: 7px;
        border: 2px solid white;
        border-radius: 5px;
    }

    #navbar-right > ul > li:last-child a:hover {
        border-color: #9CAF88;
        color: #9CAF88;
    }

    nav a:hover {
        color: #9CAF88;
    }

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 5.5rem
    }

    h2 {
        color: dimgray;
        font-size: 2rem
    }

    h3 {
        font-size: 3rem;
        font-weight: 550;
    }

    #presentation-div {
        height: 700px;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .background {
        height: 8000px;
    }

    #top-section {
        background-image: url('../images/index-bg-image.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    #gradian {
        height: 100vh;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 100%);
    }

    .scroll-indicator {
        transform: translateY(50%);
        width: 5px;
        min-height: 50vh;
        height: 50vh;
        border: 1px black;
        background: linear-gradient(to bottom, #8B5708, #CFC740);
        border-radius: 10px;
        z-index: 1000;
        margin: auto 20px auto 20px;
        box-shadow: 0 0 10px #CFC740,
        0 0 30px #CFC740;
    }

    #bottom-section {
        /*border: 2px solid red;*/
        height: 110vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

    }

    .fade-in {
        animation: fadeIn 2s ease-out; /* 2 seconds animation using fadeIn keyframes */
    }

    #markdown-content {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
        background-color: darkslategrey;
        border: 5px solid #ddd;
        border-radius: 5px;
    }

    #code-example-div {
        /*border: 2px solid red;*/
        height: 110vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*margin-left: 14%;*/
    }

    #code-text {
        /*border: 2px solid red;*/
        width: 100vh;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #code-image-div {
        /*border: 2px solid red;*/
        width: 100vh;
        height: 100vh;
    }

    #code-image {
        width: 100vh;
        border: 2px solid black;
        border-radius: 10px;
    }
}