<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
        <link rel="stylesheet" href="../static/css/bazaar-index-style.css">
    </head>
    <body>
        <div id="top-section">
            <div id="gradian">
                <nav class="fade-in">
                    <div id="navbar-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/projects/bazaar-tracker/tracked">Tracked</a></li>
                            <li><a href="/projects/bazaar-tracker/items">Items</a></li>
                            <li><a href="/projects/bazaar-tracker/crafts">Crafts</a></li>
                        </ul>
                    </div>
                    <div id="navbar-right">
                        <ul>
<!--                            {{ code|safe }}-->
                            <li><a href={{button1link}}>{{button1}}</a></li>
                            <li><a href="{{button2link}}">{{button2}}</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="presentation-div" class="fade-in">
                    <h1>Price Tracker: #1 Tool for Bazaar Flipping.</h1>
                    <h2>Explore comprehensive data about the hypixel skyblock bazaar here.</h2>
                </div>
            </div>
        </div>
        <div id="bottom-section">
            <h3 style="margin-bottom: 5%">Top Items</h3>
<!--            <h3 style="margin-bottom: 5%">Tracked Items</h3>-->
<!--            <div id="tracked-items">-->
<!--                <div  class="tracked-item"><p>bonsoir</p></div>-->
<!--                <div  class="tracked-item"><p>bonsoir</p></div>-->
<!--                <div  class="tracked-item"><p>bonsoir</p></div>-->
<!--            </div>-->
        </div>
  </body>
</html>