<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../../../static/images/favicon-32x32.png">
        <link rel="stylesheet" href="../../../static/css/bazaar-item-style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
        <script src="../../../static/JavaScript/graph-page-bazaar/graphs.js" defer></script>
        <script src="../../../static/JavaScript/graph-page-bazaar/script.js" defer></script>
    </head>
    <body>
        <div id="top-section">
            <div id="gradian">
                <nav class="fade-in">
                    <div id="navbar-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="projects/bazaar-tracker/tracked">Tracked</a></li>
                            <li><a href="projects/bazaar-tracker/items">Items</a></li>
                            <li><a href="projects/bazaar-tracker/crafts">Crafts</a></li>
                        </ul>
                    </div>
                    <div id="navbar-right">
                        <ul>
<!--                            {{ code|safe }}-->
                            <li><a href={{button1link}}>{{button1}}</a></li>
                            <li><a href="{{button2link}}">{{button2}}</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="presentation-div" class="fade-in">

                    <div id="top-left-div">
                        <div class="graph-div">
                            <canvas id="graph"></canvas>
                        </div>
                    </div>
                    <div id="top-right-div">
                        <div>
                            <div id="top-right-div-left-div">
                                <div>
<!--                                    <h1>Enchanted Cobblestone</h1>-->
                                    <h1>{{item}}</h1>
                                </div>
                                <div>
                                    <div>
                                        <div id="buy-button" class="action-button">
                                            Buy
                                        </div>
                                    </div>
                                    <div>
                                        <form>
                                            <label for="quantity"></label><br>
                                            <input type="number" id="quantity" name="quantity" class="transparent-input" placeholder="Amount">
                                        </form>
                                    </div>
                                    <div>
                                        <div id="sell-button" class="action-button">
                                            Sell
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="bottom-left-div">
                        <div>
                            <canvas id="graph2"></canvas>
                        </div>
                    </div>
                    <div id="bottom-right-div">
                        <div>
                            <h2>Buy Orders</h2>
                            <div>
                                <table>
                                    <tr>
                                        <th id="th1">Amount</th>
                                        <th id="th2">Price</th>
                                    </tr>
<!--                                    <tr>-->
<!--                                        <td>Data 1</td>-->
<!--                                        <td>Data 2</td>-->

<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Data 3</td>-->
<!--                                        <td>Data 4</td>-->
<!--                                    </tr>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!--        <div id="api-result"></div>-->
<!--        <div id="url"></div>-->
    </body>
</html>