<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
        <link rel="stylesheet" href="../static/css/projects-style.css">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" defer></script>
        <script defer src="../static/JavaScript/index-script.js"></script>
    </head>
    <body>

        <div id="top-section">
            <div id="gradian">
                <nav>
                    <div id="navbar-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="/themagnificentmyself">Who am I?</a></li>
                        </ul>
                    </div>
                    <div id="navbar-right">
                        <ul>
                            <li><a href={{button1link}}>{{button1}}</a></li>
                            <li><a href="{{button2link}}">{{button2}}</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="presentation-div">
                    <div id="presentation-text-div"  class="fade-in">
                        <h1>My projects over the years.</h1>
                        <h2>One day, there'll be a lot of them.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="my-projects-div">
            <div class="project-div" onclick="location.href='/projects/bazaar-tracker';">
                <div class="title">
                    <h3>Bazaar Tracker.</h3>
                </div>
            </div>

        </div>

    </body>
</html>